@import './styles/normalize.scss';
@import './styles/fonts.scss';
@import './styles/_variables';

body {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  background-color: $bg-primary;
  color: $cl-primary;
  font-size: $fs-primary;
}
